@require '../_vars'

.button
	display inline-flex
	justify-content center
	align-items center
	text-align center
	padding 0 24px
	min-width 180px
	height 46px
	line-height 16px
	letter-spacing .1em
	text-transform uppercase
	font-family $ff-promo
	font-weight 500
	font-size 12px
	color $cl-grey-2
	background-color transparent
	border-width 2px
	border-style solid
	border-color transparent
	opacity .85
	transition .2s opacity

	&:hover
		opacity 1

	&._outline
		border-color $cl-grey-2

		&._contrast
			color $cl-white
			border-color $cl-white

	&._primary
		color $cl-white
		background-color $cl-grey-2
		border-color @background-color

	&._light
		color $cl-white
		background-color $cl-grey-3
		border-color @background-color

	&._white
		color $cl-grey-1
		background-color $cl-white
		border-color @background-color

	&._clean
		padding 0
		min-width auto
		height auto
		background-color transparent
		border 0
		outline none

	&._fluid
		width 100%

	&._disabled
		opacity .1
		pointer-events none

	+media(tablet-sm mobile)
		height 40px
		padding 0 16px
		min-width 140px

	&:not(._clean)
		i
			margin-right 1em
			font-size 14px

	&._link
		text-decoration none

		&:hover
			text-decoration none