@require '../_vars'

$mb-mobile-sm			= 340px		// < 340
$mb-mobile-md			= 400px		// > 340 < 400
$mb-mobile-lg			= 600px		// > 400 < 600

$mb-tablet-portrait		= 900px		// > 600 < 900
$mb-tablet-landscape	= 1200px	// < 1200

$mb-desktop-sm			= 1300px	// > 1200 < 1300
$mb-desktop-md			= 1600px	// > 1300 < 1600
$mb-desktop-lg			= $mb-desktop-md + 1 // 1600


$media-queries = {
	mobile				: 'only screen and (max-width '+	$mb-mobile-lg				+')',
	mobile-sm			: 'only screen and (max-width '+	$mb-mobile-sm				+')',
	mobile-md			: 'only screen and (min-width '+	($mb-mobile-sm+1)			+') and (max-width '+	$mb-mobile-md			+')',
	mobile-lg			: 'only screen and (min-width '+	($mb-mobile-md+1)			+') and (max-width '+	$mb-mobile-lg			+')',

	tablet				: 'only screen and (min-width '+	($mb-mobile-lg+1)			+') and (max-width '+	$mb-tablet-landscape	+')',
	tablet-sm			: 'only screen and (min-width '+	($mb-mobile-lg+1)			+') and (max-width '+	$mb-tablet-portrait		+')',
	tablet-lg			: 'only screen and (min-width '+	($mb-tablet-portrait+1)		+') and (max-width '+	$mb-tablet-landscape	+')',

	desktop				: 'only screen and (min-width '+	($mb-tablet-landscape+1)	+')',
	desktop-sm			: 'only screen and (min-width '+	($mb-tablet-landscape+1)	+') and (max-width '+	$mb-desktop-sm			+')',
	desktop-md			: 'only screen and (min-width '+	($mb-desktop-sm+1)			+') and (max-width '+	$mb-desktop-md			+')',
	desktop-lg			: 'only screen and (min-width '+	($mb-desktop-lg)			+')'
}

$media-prefixes = {
	mobile				: 'm',
	mobile-sm			: 'm-s',
	mobile-md			: 'm-m',
	mobile-lg			: 'm-l',

	tablet				: 't',
	tablet-sm			: 't-s',
	tablet-lg			: 't-l',

	desktop				: 'd',
	desktop-sm			: 'd-s',
	desktop-md			: 'd-m',
	desktop-lg			: 'd-l'
}


// Gutter mixin
$_gutter	= 24px
$_columns	= 12

gutter($_custom)
	margin-right ($_custom / -2) px
	margin-left ($_custom / -2) px

	& > [class*='col-']
		padding-right ($_custom / 2) px
		padding-left ($_custom / 2) px

// Columns
.row
	display flex
	flex-grow 0
	flex-shrink 1
	flex-basis 100%
	flex-direction row
	flex-wrap wrap
	margin-right ($_gutter / -2)
	margin-left ($_gutter / -2)
	padding 0
	list-style none

	&:last-child
		margin-bottom 0

	.breaker
		width 100%

	[class*='col-']
		flex-grow 1
		flex-shrink 1
		flex-basis 0
		max-width 100%
		margin 0
		padding-right ($_gutter / 2)
		padding-left ($_gutter / 2)

		&._left
			text-align left

		&._center
			text-align center

		&._right
			text-align right

	// Vertical align in rows
	&.row-top
		align-items flex-start
	&.row-middle
		align-items center
	&.row-bottom
		align-items flex-end
	&.row-stretch
		flex-wrap nowrap
		justify-content stretch

		& > [class*='col-']
			flex-basis auto
			width auto


	// Vertical margins between columns
	for $_i in range(4px, 32px, 4)
		&.row-m{$_i}
			& > .col
			& > [class*='col-']
				margin-bottom $_i

	// Horizontal margins between columns
	for $_i in range(0, 48, 4)
		&.row-g{$_i}
			gutter($_i)

	for $_i in 1..$_columns // 1..12
		.col-{$_i}
			width (100 / $_columns * $_i)%
			flex none

		[class*='col-']

			// HORIZONTAL OFFSETS
			// -----------------------------------------------
			if ($_i < $_columns)
				&._left-{$_i}
					margin-left (100 / $_columns * $_i)%


			// MOBILE
			// -----------------------------------------------

			+media(mobile)
				&._{$media-prefixes[mobile]}-{$_i}
					width (100 / $_columns * $_i)%
					flex none

				// Offsets
				if ($_i < $_columns)
					&._left-{$media-prefixes[mobile]}-{$_i}
						margin-left (100 / $_columns * $_i)%

			+media(mobile-sm)
				&._{$media-prefixes[mobile-sm]}-{$_i}
					width (100 / $_columns * $_i)%
					flex none

				// Offsets
				if ($_i < $_columns)
					&._left-{$media-prefixes[mobile-sm]}-{$_i}
						margin-left (100 / $_columns * $_i)%

			+media(mobile-md)
				&._{$media-prefixes[mobile-md]}-{$_i}
					width (100 / $_columns * $_i)%
					flex none

				// Offsets
				if ($_i < $_columns)
					&._left-{$media-prefixes[mobile-md]}-{$_i}
						margin-left (100 / $_columns * $_i)%

			+media(mobile-lg)
				&._{$media-prefixes[mobile-lg]}-{$_i}
					width (100 / $_columns * $_i)%
					flex none

				// Offsets
				if ($_i < $_columns)
					&._left-{$media-prefixes[mobile-lg]}-{$_i}
						margin-left (100 / $_columns * $_i)%

			// -----------------------------------------------
			// MOBILE


			// TABLET
			// -----------------------------------------------

			+media(tablet)
				&._{$media-prefixes[tablet]}-{$_i}
					width (100 / $_columns * $_i)%
					flex none

				// Offsets
				if ($_i < $_columns)
					&._left-{$media-prefixes[tablet]}-{$_i}
						margin-left (100 / $_columns * $_i)%

			+media(tablet-sm)
				&._{$media-prefixes[tablet-sm]}-{$_i}
					width (100 / $_columns * $_i)%
					flex none

				// Offsets
				if ($_i < $_columns)
					&._left-{$media-prefixes[tablet-sm]}-{$_i}
						margin-left (100 / $_columns * $_i)%

			+media(tablet-lg)
				&._{$media-prefixes[tablet-lg]}-{$_i}
					width (100 / $_columns * $_i)%
					flex none

				// Offsets
				if ($_i < $_columns)
					&._left-{$media-prefixes[tablet-lg]}-{$_i}
						margin-left (100 / $_columns * $_i)%

			// -----------------------------------------------
			// TABLET


			// DESKTOP
			// -----------------------------------------------

			// All = Small + Medium + Large
			+media(desktop)
				&._{$media-prefixes[desktop]}-{$_i}
					width (100 / $_columns * $_i)%
					flex none

				// Offsets
				if ($_i < $_columns)
					&._left-{$media-prefixes[desktop]}-{$_i}
						margin-left (100 / $_columns * $_i)%

			// Small
			+media(desktop-sm)
				&._{$media-prefixes[desktop-sm]}-{$_i}
					width (100 / $_columns * $_i)%
					flex none

				// Offsets
				if ($_i < $_columns)
					&._left-{$media-prefixes[desktop-sm]}-{$_i}
						margin-left (100 / $_columns * $_i)%

			// Medium
			+media(desktop-md)
				&._{$media-prefixes[desktop-md]}-{$_i}
					width (100 / $_columns * $_i)%
					flex none

				// Offsets
				if ($_i < $_columns)
					&._left-{$media-prefixes[desktop-md]}-{$_i}
						margin-left (100 / $_columns * $_i)%

			// Large
			+media(desktop-lg)
				&._{$media-prefixes[desktop-lg]}-{$_i}
					width (100 / $_columns * $_i)%
					flex none

				// Offsets
				if ($_i < $_columns)
					&._left-{$media-prefixes[desktop-lg]}-{$_i}
						margin-left (100 / $_columns * $_i)%

			// -----------------------------------------------
			// DESKTOP
