@require '../_vars'


// Modals
.modal
	position fixed
	width 100vw
	min-height 100vh
	display flex
	justify-content center
	align-items center
	z-index 50

.modal__inner
	position relative
	display flex
	justify-content center
	align-items center
	background-color $cl-white
	box-shadow $shadow

.modal__content
	padding 32px

.modal-construction
	max-width 800px

	+media(mobile)
		padding 44px 20px

.modal-view360
	min-width 900px

	+media(tablet-sm mobile)
		min-width 100%

	+media(mobile)
		padding 20px

		.fancybox-close-small
			width 20px
			height @width
			padding 0