@require '../_vars'


// Modals
.modal
	position fixed
	width 100vw
	min-height 100vh
	display flex
	justify-content center
	align-items center
	z-index 50

.modal__inner
	position relative
	display flex
	justify-content center
	align-items center
	background-color $cl-white
	box-shadow $shadow

.modal__content
	padding 32px
