==
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no">
    <title>{{ this.page.title }}</title>
    <link rel="stylesheet" href={{ "assets/css/style.css"|theme}}>
</head>

<body>
    <header class="header index-header">
        <div class="header__inner">
            <div class="header__left">
                <a class="header__logo" href="/">
                    <img src={{ "assets/img/logo.svg"|theme }} alt="Logo">
                </a><span class="header__slogan">Дома заводского производства</span>
            </div>
            <nav class="header__nav">
                <ul>
                    <li><a href="alpha.html">Alpha</a>
                    </li>
                    <li><a href="/">Mini</a>
                    </li>
                    <li><a href="/">Opti</a>
                    </li>
                    <li><a href="/">Midi</a>
                    </li>
                    <li><a href="/">Maxi</a>
                    </li>
                    <li><a href="/">Omega</a>
                    </li>
                    <li><a href="/">Гостевой дом</a>
                    </li>
                    <li><a href="/">Баня</a>
                    </li>
                    <li><a href="/">Гараж</a>
                    </li>
                </ul>
            </nav>
            <div class="header__right"><a class="header__phone" href="tel:+78002223751">+78002223751</a>
                <button class="button header__menu-button _clean" type="button"><i class="fa fa-bars" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </header>
    <div class="page-backdrop"></div>
    <main>