==
<div class="form" id="form">
            <h2 class="form__title">Оставить заявку</h2>
            <form class="form__content" autocomplete="on" method="post">
                <input type="text" name="name" autocomplete="name" id="name-field" placeholder="Имя" required>
                <input type="tel" name="phone" autocomplete="phone" id="phone-field" placeholder="Телефон" required>
                <input type="email" name="email" autocomplete="email" id="email-field" placeholder="Email">
                <button class="button _white form__button" type="submit">Отправить</button>
            </form>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="footer__inner">
                    <div class="footer__nav">
                        <div class="footer__list"><span class="footer__title">Разделы сайта</span>
                            <ul class="footer__list-inner _sections">
                                <li><a href="#tech">Технология строительства</a>
                                </li>
                                <li><a href="#comso">Космический утеплитель</a>
                                </li>
                                <li><a href="#prices">Дома и цены</a>
                                </li>
                                <li><a href="#constructive">Конструктив</a>
                                </li>
                                <li><a href="#reviews">Отзывы</a>
                                </li>
                                <li><a href="#warm">Сверхтеплые дома</a>
                                </li>
                                <li><a href="#benefits">Преимущества</a>
                                </li>
                                <li><a href="#gallery">Галерея домов</a>
                                </li>
                                <li><a href="#innova">Инновационные стеклопакеты</a>
                                </li>
                                <li><a href="#creator">Основатель</a>
                                </li>
                                <li><a href="#shows">Выставочные дома</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__list"><span class="footer__title">Категории домов</span>
                            <ul class="footer__list-inner _categories">
                                <li><a href="">Alpha</a>
                                </li>
                                <li><a href="">Mini</a>
                                </li>
                                <li><a href="">Opti</a>
                                </li>
                                <li><a href="">Midi</a>
                                </li>
                                <li><a href="">Maxi</a>
                                </li>
                                <li><a href="">Omega</a>
                                </li>
                                <li><a href="">Гостевой дом</a>
                                </li>
                                <li><a href="">Баня</a>
                                </li>
                                <li><a href="">Гараж</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__legal">
                        <div class="footer__data">
                            <div class="footer__logo">
                                <img src={{ "./assets/img/logo.svg"|theme }} alt="Logo">
                            </div><span>Свидетельство о госрегистрации компании:</span><span class="mt3x">Серия 50 номер 012121201 от 24 марта 2011 г.</span><span>ОГРН 311500408300056</span>
                        </div>
                        <div class="footer__policy"><a class="mt-auto" href="/" target="_blank">Политика конфиденциальности</a><span class="mt3x">2011–2020 © Все права защищены</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </main>
    <div class="mobile-menu">
        <div class="mobile-menu__content">
            <nav class="header__nav">
                <ul>
                    <li><a href="alpha.html">Alpha</a>
                    </li>
                    <li><a href="/">Mini</a>
                    </li>
                    <li><a href="/">Opti</a>
                    </li>
                    <li><a href="/">Midi</a>
                    </li>
                    <li><a href="/">Maxi</a>
                    </li>
                    <li><a href="/">Omega</a>
                    </li>
                    <li><a href="/">Гостевой дом</a>
                    </li>
                    <li><a href="/">Баня</a>
                    </li>
                    <li><a href="/">Гараж</a>
                    </li>
                </ul>
            </nav>
        </div>
        <button class="button mobile-menu__close _clean" type="button"><i class="fa fa-close" aria-hidden="true"></i>
        </button>
    </div>
    <div class="modal">
        <div class="modal__inner">
            <div class="modal__content"><span>Пример модального окна</span>
            </div>
            <div class="modal__close"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src={{ "assets/js/main.js"|theme }}></script>
    
    {% framework extras %}
    {% scripts %}
</body>

</html>