@require '../_vars'

.project__versions
	margin-top 200px
	text-align center

	+media(tablet-sm)
		margin-top 150px

	+media(mobile)
		margin-top 100px

.project__versions-title
	margin-bottom 24px

	+media(mobile)
		margin-top 16px

.project__versions-list
	display flex

	+media(mobile)
		flex-direction column

.project__version
	display flex
	padding 12px 24px
	@extend $text-section-title
	text-decoration none
	color $cl-white

	& + .project__version
		border-left 2px solid $cl-grey-5

		+media(mobile)
			border-left 0

	&.active
		background-color rgba($cl-white,.1)

	+media(tablet-sm mobile)
		padding 4px 12px
		line-height 28px
		font-size 20px

.specifications
	width 100%

	+media(tablet-sm)
		padding 0 48px

	.section__title
		margin-top 20px

.specs__item
	& + .specs__item
		margin-top 16px

.specs__title
	@extend $text-h3

.specs__desc
	@extend $text-sm
	color $cl-grey-3

.plans
	padding 60px 0
	width 100%

	.plan
		display flex
		justify-content center
		align-items center
		padding 20px 40px
		background-size contain
		min-height 600px

		img
			@extend $style-img-contain
			max-height 600px

		+media(tablet-lg)
			min-height 400px

		+media(tablet-sm mobile)
			padding 40px
			min-height 300px

	+media(tablet-sm mobile)
		padding 32px 0

.plans-slider
	padding 40px 0 0

	+media(tablet-sm mobile)
		padding 0

.gallery
	width 100%

	.section__title
		margin 40px 0 32px

		+media(tablet-sm mobile)
			margin 32px 0

.section-price
	margin-top 20px

	+media(tablet-sm mobile)
		.section__half._img
			display none

.pricelist
	margin-top 32px

	li
		display flex
		flex-wrap wrap
		align-items flex-start

		&:not(:last-child)
			margin-bottom 24px

.pricelist__title
	@extend $text-navitem
	line-height 20px
	text-transform uppercase
	color $cl-grey-1

.pricelist__value
	@extend $text-h5
	flex-shrink 0
	margin-left 24px
	line-height 20px
	color $cl-grey-3

.pricelist__desc
	@extend $text-sm
	margin-top 4px
	width 100%
	color $cl-grey-3


.constructions
	margin-top 20px

	.container
		background-color $cl-white

.construction
	@extend $style-bg-cover
	position relative
	flex-grow 1
	flex-shrink 0

	+media(desktop tablet-lg)
		flex-basis calc((100% - 40px) / 3)
		height 100%

		&:not(:last-child)
			margin-right 20px

	+media(tablet-sm mobile)
		flex-basis auto
		margin-bottom 8px
		width 100%
		height auto

		&:not(:last-child)
			margin-right 0

.construction__inner
	position relative
	display flex
	padding 24px 12px
	min-height 200px
	height 100%
	text-decoration none
	text-align center
	color $cl-white
	z-index 1

.construction__title
	line-height 1
	font-weight 500
	font-size 32px

	+media(tablet-sm mobile)
		font-size 24px

.construction__action
	margin-top 24px
	text-decoration underline
	opacity 1
	color $cl-white

	+media(tablet-sm mobile)
		text-transform none

.interior
	padding 80px 0 40px
	width 100%

	+media(tablet-sm mobile)
		padding 40px 0

	.section__action
		margin 0 auto

.interior-slider
	margin 60px 0
	min-height auto

	+media(tablet-sm mobile)
		margin 32px 0

.interior__slide
	display flex
	justify-content center
	align-items center
	min-height 500px
	overflow hidden

	img
		@extend $style-bg-contain

	+media(tablet-lg)
		min-height 400px

	+media(tablet-sm mobile)
		height 300px


.tour3d-section
	@extend $style-bg-cover
	background-image url('./../../assets/img/bg/tour3d-bg.jpg')

.tour3d__icon
	display flex
	justify-content center
	align-items center
	margin 60px auto 0
	width 160px
	height @width
	color $cl-white
	background-color $cl-grey-2
	background-image url('./../../assets/img/tour3d-icon.svg')
	background-size 100px
	background-position 50% 50%
	background-repeat no-repeat
	border-radius @width

	+media(tablet-sm mobile)
		margin 40px auto 20px
		width 100px
		height @width
		background-size 60px