$cl-grey-1		= #222222
$cl-grey-2		= #424242
$cl-grey-3		= #808080
$cl-grey-4		= #D6D6D6
$cl-grey-5		= #FAF7F7

$cl-alpha-1		= rgba($cl-grey-2,.7)
$cl-alpha-2		= rgba($cl-grey-4,.6)

$cl-white		= #FFFFFF

$shadow	= 0 1px 4px 0 rgba($cl-grey-1,.25)

$ff-promo	= Montserrat, sans-serif
$ff-text	= Roboto, Arial, sans-serif



$style-bg-cover
	background-repeat no-repeat
	background-size cover
	background-position 50% 50%

$style-bg-contain
	background-repeat no-repeat
	background-size contain
	background-position 50% 50%
