*
	box-sizing border-box

::-webkit-scrollbar
	height 12px
	width 12px
	background $cl-grey-1

::-webkit-scrollbar-thumb
	border-radius 10px
	cursor pointer
	width 12px
	border 3px solid rgba(255, 255, 255, 0)
	background-clip padding-box
	background-color $cl-grey-5
	&:hoverol
		background-color rgba(#2D4668, .4)
		cursor pointer

.backdrop
	@extend $style-backdrop

.page-backdrop
	@extend $style-backdrop
	position fixed
	display none
	z-index 50

.mobile-menu
	position fixed
	top 0
	right 0
	bottom 0
	left auto
	padding 40px 32px
	width 300px
	background-color $cl-white
	box-shadow $shadow
	overflow-y auto
	transform translateX(100%)
	transition transform .2s
	z-index 50

	&._visible
		transform translateX(0)

	.header__nav
		ul
			flex-direction column
			align-items flex-start

		li
			& + li
				margin-top 12px
				margin-left 0

		a
			color $cl-black

.mobile-menu__close
	position absolute
	top 8px
	right 8px
	color $cl-black


.swiper-button-prev
.swiper-button-next
	display flex
	justify-content center
	align-items center
	margin-top 0
	width 80px
	height 80px
	font-size 52px
	background-color $cl-grey-2-07
	color $cl-white
	transform translateY(-50%)
	transition .2s background-color ease
	z-index 5

	&._light
		background-color $cl-grey-4-06
		color $cl-grey-1

		&:hover
			background-color $cl-grey-4

	&:hover
		background-color $cl-grey-2

	.fa
		font-size inherit

	&::after
		content ''

	+media(tablet-sm mobile)
		width 40px
		height 40px
		font-size 28px


.swiper-button-prev
	left 0

.swiper-button-next
	right 0

.swiper-container
	min-height 320px

.swiper-container-horizontal
	& > .swiper-pagination-bullets
		.swiper-pagination-bullet
			&:not(:last-child)
				margin 0 32px 0 0

.swiper-pagination
	bottom 40px

	.swiper-pagination-bullet
		width 12px
		height @width
		background transparent
		border 1px solid $cl-white
		opacity 1

	.swiper-pagination-bullet-active
		background $cl-white


.first-screen-slider
	width 100%
	height 100%

	.swiper-pagination
		bottom 140px

.first-screen-slide
	@extend $style-bg-cover
	display flex
	flex-direction column
	justify-content center
	align-items center
	padding-top 100px
	padding-bottom 80px
	padding 100px 40px 80px
	height 100%

.first-screen-slide
	& > *:not(.backdrop)
		z-index 1

.fullpage-slider
	width 100%
	height 800px

.fullpage-slide
	display flex
	justify-content center
	align-items center
	height 100%

	img
		@extend $style-img-cover

.first-screen-props
	display flex
	justify-content center
	align-items center
	margin-top 160px

.props
	display flex
	justify-content center
	align-items center

	&._lg
		.props__item
			min-height 80px
		.props__value
			@extend $text-section-title

	&._light
		color $cl-white

		.props__desc
			color $cl-white

	&._left
		justify-content flex-start

	+media(mobile)
		flex-direction column

.props__item
	display flex
	flex-direction column
	justify-content center
	align-items center
	padding 12px
	min-width 120px
	min-height 60px

	&._title
		@extend $text-section-title
		flex-shrink 0
		max-width 300px
		padding-right 40px

		+media(tablet-sm mobile)
			line-height 1.3
			font-size 24px
			min-height auto
			padding-right 12px

	&:not(:last-child)
		border-right-width 1px
		border-right-style solid
		border-right-color $cl-grey-4

		+media(mobile)
			border 0

.props__value
	@extend $text-benefit-title

	+media(tablet-sm mobile)
		line-height 1
		font-size 24px

.props__desc
	@extend $text-benefit-desc
	color $cl-grey-3

.form
	display flex
	flex-direction column
	justify-content flex-start
	align-items center
	margin auto
	padding 80px 20px
	max-width 580px
	width 100%

	input
		&:not(:last-child)
			margin-bottom 52px

.form__button
	margin-top 60px

input
	&[type="text"]
	&[type="tel"]
	&[type="email"]
		display block
		box-sizing border-box
		padding 0 4px
		width 100%
		height 40px
		line-height @height
		letter-spacing .1em
		font-family $ff-promo
		font-weight 300
		font-size 20px
		color $cl-white
		background-color transparent
		border 0
		border-bottom 1px solid $cl-white
