@require '../_vars'

body
	overflow-x hidden

	@supports (overflow-y overlay)
		overflow-y overlay

.section
	display flex
	justify-content center
	align-items stretch
	min-height 400px

	&._dark
		background-color $cl-grey-3
		color $cl-white

	&._light
		background-color $cl-grey-5

	&._lg
		min-height 800px

	&._first-section
		.h3
			text-align center

.section__half
	display flex
	justify-content center
	align-items center
	padding 20px

	&._img
		@extend $style-bg-cover

	&._slider
		display block

.section__half-inner
	display block

.container
	display flex
	justify-content center
	align-items center
	margin 0 auto
	max-width 1160px
	width 100%
	min-height 100%

	&._fluid
		max-width 100%
