@require '../_vars'

body
	overflow-x hidden

	@supports (overflow-y overlay)
		overflow-y overlay

.section
	display flex
	justify-content center
	align-items stretch

	&._dark
		background-color $cl-grey-2
		color $cl-white

		.section__desc
			color $cl-grey-4

	&._light
		background-color $cl-grey-5

	&._lg
		.container
			min-height 800px


.section__half
	display flex
	justify-content center
	align-items center
	flex-shrink 0
	padding 20px
	width 50%
	min-height 100%

	+media(mobile)
		width 100%
		min-height auto
		padding 40px 20px

	&._img
		@extend $style-bg-cover

		&:not([style])
			@extend $style-dummy

		+media(mobile)
			min-height 300px

	&._slider
		display block

		&:not([style])
			@extend $style-dummy

	.section__title
		margin-bottom 36px

	.section__desc
		@extend $text-lg
		color $cl-grey-3

	.section__action
		margin-top 36px

.section__half-inner
	padding 80px 0
	max-width 80%
	min-width 465px

	+media(mobile)
		padding 0
		max-width 100%
		min-width 100%

.container
	display flex
	justify-content center
	align-items center
	margin 0 auto
	padding 20px
	max-width 1160px
	width 100%
	min-height 400px

	+media(mobile)
		flex-direction column

	&._fluid
		max-width 100%

	&._clean
		padding 0
