@require '../_vars'

// FONT MIXIN
// ===============================================
font-src($fontFolder, $fontName, $fontType = 'Regular')
	$_fontName = $fontName + '-' + $fontType

	font-family $fontName
	src url($fontFolder + $_fontName + '.woff2') format('woff2')

$_fontPath = '../fonts/Roboto/'
$_fontName = 'Roboto'

@font-face
	font-src($_fontPath, $_fontName, 'Regular')
	font-weight 400
	font-style normal

@font-face
	font-src($_fontPath, $_fontName, 'Bold')
	font-weight 700
	font-style normal


$_fontPath = '../fonts/Montserrat/'
$_fontName = 'Montserrat'

@font-face
	font-src($_fontPath, $_fontName, 'Light')
	font-weight 300
	font-style normal

@font-face
	font-src($_fontPath, $_fontName, 'Medium')
	font-weight 500
	font-style normal

@font-face
	font-src($_fontPath, $_fontName, 'Semibold')
	font-weight 600
	font-style normal


$_fontPath = '../fonts/Gotham/'
$_fontName = 'GothamPro'

@font-face
	font-src($_fontPath, $_fontName, 'Light')
	font-weight 300
	font-style normal

@font-face
	font-src($_fontPath, $_fontName, 'Regular')
	font-weight 400
	font-style normal

@font-face
	font-src($_fontPath, $_fontName, 'Medium')
	font-weight 500
	font-style normal

@font-face
	font-src($_fontPath, $_fontName, 'Bold')
	font-weight 700
	font-style normal


.h1
	@extend $text-h1

	+media(tablet-sm mobile)
		line-height 1.3
		font-size 28px

.h2
	@extend $text-h2
.h3
	@extend $text-h3

	+media(tablet-sm mobile)
		line-height 1.3
		font-size 16px

.h4
	@extend $text-h4
.h5
	@extend $text-h5

.section__title
	@extend $text-section-title
	text-align center

	+media(tablet-sm mobile)
		line-height 1.2
		font-size 22px

.section__desc
	@extend $text-section-desc

.navitem
	@extend $text-navitem

.project__title
	@extend $text-project-title

.benefit__title
	@extend $text-benefit-title
.benefit__desc
	@extend $text-benefit-desc

body
	font-family $ff-text
	font-weight 400
	font-size 18px
	font-style normal
	line-height 1.3
	color $cl-grey-1

	+media(mobile)
		font-size 14px

.fa
	display inline-flex
	justify-content center
	align-items center
	width 1em
	text-align center
	font-size 24px

	&::before
		width 100%

p
	margin 0

.cl-light
	color $cl-grey-3

.fz-lg
	@extend $text-lg

	+media(desktop-md)
		line-height 1.2
		font-size 18px

	+media(mobile)
		line-height 1.3
		font-size 16px

		+media(mobile-md mobile-sm)
			font-size 14px

.fz-sm
	@extend $text-sm

.fz-xs
	@extend $text-xs


ul
	&._dash
		li
			display block

			& + li
				margin-top 8px

			&::before
				content '—'
				margin-right 8px

	&._check
		li
			position relative
			display flex
			padding-left 1.5em

			& + li
				margin-top 8px

			&::before
				content '\f00c'
				position absolute
				top 0
				left 0
				margin-right 8px
				line-height 1em
				font-family $ff-icons
				color inherit

	&._light
		li
			color $cl-grey-3

	&._right
		li
			text-align right

sup
	vertical-align super
	font-size 0.6em