@require '../_vars'

// FONT MIXIN
// ===============================================
font-src($fontFolder, $fontName, $fontType = 'Regular')
	$_fontName = $fontName + '-' + $fontType

	font-family $fontName
	src url($fontFolder + $_fontName + '.woff2') format('woff2')

$_fontPath = '../fonts/Roboto/'
$_fontName = 'Roboto'

@font-face
	font-src($_fontPath, $_fontName, 'Regular')
	font-weight 400
	font-style normal

@font-face
	font-src($_fontPath, $_fontName, 'Bold')
	font-weight 700
	font-style normal


$_fontPath = '../fonts/Montserrat/'
$_fontName = 'Montserrat'

@font-face
	font-src($_fontPath, $_fontName, 'Light')
	font-weight 300
	font-style normal

@font-face
	font-src($_fontPath, $_fontName, 'Medium')
	font-weight 500
	font-style normal

@font-face
	font-src($_fontPath, $_fontName, 'Semibold')
	font-weight 600
	font-style normal


.h1
	@extend $text-h1
.h2
	@extend $text-h2
.h3
	@extend $text-h3
.h4
	@extend $text-h4
.h5
	@extend $text-h5

.section__title
	@extend $text-section-title
.section__desc
	@extend $text-section-desc

.navitem
	@extend $text-navitem

.project__title
	@extend $text-project-title

.benefit__title
	@extend $text-benefit-title
.benefit__desc
	@extend $text-benefit-desc

body
	font-family $ff-text
	font-weight 400
	font-style normal
