//- Variables
block vars
	- var pageTitle = ' '

include ../includes/mixins

doctype
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1,viewport-fit=cover')
		meta(name="format-detection", content="telephone=no")
		title=(pageTitle)
		link(rel='stylesheet', href='assets/css/style.css')

		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png")
		link(rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
		meta(name="apple-mobile-web-app-title" content="Ecocomplect")
		meta(name="application-name" content="Ecocomplect")
		meta(name="msapplication-TileColor" content="#808080")
		meta(name="theme-color" content="#808080")

	body

		//- Header
		include ../includes/header

		//- Content
		main
			block content

		include ../includes/mobile-menu
		include ../includes/modals

		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
		script(src="https://unpkg.com/swiper/js/swiper.min.js")
		script(src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")

		script(src='assets/js/main.js')
