section.section._first-section._dark._lg
	.container._fluid._clean
		.swiper-container.first-screen-slider
			.swiper-wrapper
				.swiper-slide
					.first-screen-slide
						h1.h1 Дом ALPHA
						h3.h3.mt5x Сверхтеплый, недорогой, экологичный дом заводского производства