section.section.constructions._dark._stretch
	.container._fluid._clean
		.construction(style="background-image: url('./static/img/img-a-1.jpg')")
			.flex._vertical._center.construction__inner
				h3.construction__title Фундамент
				a.button._clean.construction__action(href="javascript:;", data-fancybox="foundation") Подробнее
			.backdrop
		.construction(style="background-image: url('./static/img/img-a-2.jpg')")
			.flex._vertical._center.construction__inner
				h3.construction__title Доставка
				a.button._clean.construction__action(href="javascript:;", data-fancybox="delivery") Подробнее
			.backdrop
		.construction(style="background-image: url('./static/img/img-a-3.jpg')")
			.flex._vertical._center.construction__inner
				h3.construction__title Сборка
				a.button._clean.construction__action(href="javascript:;", data-fancybox="assembly") Подробнее
			.backdrop