section.section._md._light
	.container
		.specifications
			h2.section__title Технические характеристики
			.props.mt5x
					.props__item
						.props__value 3
						.props__desc спальни
					.props__item
						.props__value 341
						.props__desc кв.м.
					.props__item
						.props__value 2
						.props__desc 2 этажа

			.row.mt10x
				.col-4._left-d-1
					h3.h3 300 кв.м.
					span.fz-sm.cl-light Общая площадь дома без террасы
					h3.h3.mt10x 345 кв.м.
					span.fz-sm.cl-light Площадь дома с учетом террасы
					h3.h3.mt10x 321 кв.м.
					span.fz-sm.cl-light Площадь дома с закрытым вторым светом
				.col-6
					p.section__desc Просторный и красивый дом со вторым светом. На втором этаже возможно сделать еще одну комнату. В доме присутствуют все элементы премиум-недвижимости: Второй свет (двойной этаж в обеденной зоне), панорамное остекление, строительные материалы премиум-класса. Идеальный дом для небольшой семьи.