section.section
	.container._fluid._clean
		.section__half._img
		.section__half
			.section__half-inner
				h2.section__title Цена
				h2.h2 3 500 000 ₽
				p.mt3x.fz-sm.cl-light Цена теплого контура — без отделки. Отделка будет рассчитываться нашими менеджерами отдельно и цена будет зависеть от выбранных вами отделочных материалов.

				ul.pricelist._check._light
					li
						span.pricelist__title Домокомплект
						h5.pricelist__value 2 500 000 ₽
						p.pricelist__desc Набор элементов дома: стены, крыша, окна
					li
						span.pricelist__title Фундамент
						h5.pricelist__value 500 000 ₽
						p.pricelist__desc Основа дома вместе со сваями и подложкой

					li
						span.pricelist__title Доставка
						h5.pricelist__value 100 000 ₽
						p.pricelist__desc Привезем все необходимое для строительства

					li
						span.pricelist__title Сборка
						h5.pricelist__value 1 200 000 ₽
						p.pricelist__desc Правильная сборка вашего будущего дома

				button.button._primary.section__action(type="button") Оставить заявку