section.section._lg
	.container._fluid._clean
		.plans
			h2.section__title Варианты планировок
		
			.row.row-m20.row-g0.mt5x
				.col-6._left-3
					p.ta-c.cl-light Это примерный вариант планировок.
					p.ta-c.cl-light Планировка в наших домах свободная и Вы сможете реализовать любые свои идеи.

			.swiper-container.plans-slider
				.swiper-wrapper
					.swiper-slide
						.plan
							img(src="")
					.swiper-slide
						.plan
							img(src="")
					.swiper-slide
						.plan
							img(src="")
				
				include ./../../includes/slider-nav