section.section.tour3d-section._md
	.container
		.tour3d
			h2.section__title 3D тур по дому ALPHA
			.tour3d__icon

			.flex._center.mt10x
				button.button._primary.section__action(type="button", data-fancybox, data-src="#form") Оставить заявку