section.section
	.container._fluid._clean
		.plans
			h2.section__title Варианты планировок
		
			.row.row-m20.row-g0.mt5x.px5x
				.col-6._left-d-3._t-10._left-t-1._m-12
					p.ta-c.cl-light Это примерный вариант планировок.
					p.ta-c.cl-light Планировка в наших домах свободная и Вы сможете реализовать любые свои идеи.

			.swiper-container.plans-slider
				.swiper-wrapper
					.swiper-slide
						a.plan(href="./assets/img/plan.png", data-fancybox="plans")
							img(src="./assets/img/plan.png")
					.swiper-slide
						a.plan(href="./assets/img/plan.png", data-fancybox="plans")
							img(src="./assets/img/plan.png")
					.swiper-slide
						a.plan(href="./assets/img/plan.png", data-fancybox="plans")
							img(src="./assets/img/plan.png")
				
				include ./../../includes/slider-nav