section.section._first-section._dark._lg
	.container._fluid._clean
		.swiper-container.first-screen-slider
			.swiper-wrapper
				.swiper-slide
					.first-screen-slide(style="background-image: url(./assets/img/6jyxOTJhVX0.jpg)")
						h1.h1 Дом ALPHA
						h3.h3.mt5x Сверхтеплый, недорогой, экологичный дом заводского производства
						.backdrop