section.section._light
	.container._fluid._clean
		.interior
			h2.section__title.mb5x Отделка
			.row.row-g0
				.col-6._left-d-3._t-8._left-t-2._m-12
					p.fz-sm.cl-light.ta-c.px4x Цена теплого контура — без отделки. Отделка будет рассчитываться нашими менеджерами отдельно и цена будет зависеть от выбранных вами отделочных материалов

			.swiper-container.interior-slider
				.swiper-wrapper
					.swiper-slide
						a.interior__slide(href="./static/img/PtMdlb5L3I4.jpg", data-fancybox="interiors")
							img(src="./static/img/PtMdlb5L3I4.jpg", alt="")
					.swiper-slide
						a.interior__slide(href="./static/img/PtMdlb5L3I4.jpg", data-fancybox="interiors")
							img(src="./static/img/PtMdlb5L3I4.jpg", alt="")
					.swiper-slide
						a.interior__slide(href="./static/img/PtMdlb5L3I4.jpg", data-fancybox="interiors")
							img(src="./static/img/PtMdlb5L3I4.jpg", alt="")
					.swiper-slide
						a.interior__slide(href="./static/img/PtMdlb5L3I4.jpg", data-fancybox="interiors")
							img(src="./static/img/PtMdlb5L3I4.jpg", alt="")
					.swiper-slide
						a.interior__slide(href="./static/img/PtMdlb5L3I4.jpg", data-fancybox="interiors")
							img(src="./static/img/PtMdlb5L3I4.jpg", alt="")
					.swiper-slide
						a.interior__slide(href="./static/img/PtMdlb5L3I4.jpg", data-fancybox="interiors")
							img(src="./static/img/PtMdlb5L3I4.jpg", alt="")
					.swiper-slide
						a.interior__slide(href="./static/img/PtMdlb5L3I4.jpg", data-fancybox="interiors")
							img(src="./static/img/PtMdlb5L3I4.jpg", alt="")

				include ./../../includes/slider-nav

			.flex._center
				button.button._primary.section__action(type="button", data-fancybox, data-src="#form") Оставить заявку
