section.section._lg._light
	.container._fluid._clean
		.gallery
			h2.section__title Галерея дома Alpha

			.swiper-container.fullpage-slider
				.swiper-wrapper
					.swiper-slide
						.fullpage-slide
							img(src="./static/img/6jyxOTJhVX0.jpg")
					.swiper-slide
						.fullpage-slide
							img(src="./static/img/img-4.jpg")
					.swiper-slide
						.fullpage-slide
							img(src="./static/img/6jyxOTJhVX0.jpg")
				include ./../../includes/slider-nav