section.section._lg._light
	.container._fluid._clean
		.gallery
			h2.section__title Галерея дома Alpha

			.swiper-container.fullpage-slider
				.swiper-wrapper
					.swiper-slide
						.flex._center Slide 1
					.swiper-slide
						.flex._center Slide 2
					.swiper-slide
						.flex._center Slide 3
				include ./../../includes/slider-nav