footer.footer
	.container
		.footer__inner
			.footer__nav
				.footer__list
					span.footer__title Разделы сайта
					ul.footer__list-inner._sections
						li
							a(href="#tech") Технология строительства
						li
							a(href="#comso") Космический утеплитель
						li
							a(href="#prices") Дома и цены
						li
							a(href="#constructive") Конструктив
						li
							a(href="#reviews") Отзывы
						li
							a(href="#warm") Сверхтеплые дома
						li
							a(href="#benefits") Преимущества
						li
							a(href="#gallery") Галерея домов
						li
							a(href="#innova") Инновационные стеклопакеты
						li
							a(href="#creator") Основатель
						li
							a(href="#shows") Выставочные дома
				.footer__list
					span.footer__title Категории домов
					ul.footer__list-inner._categories
						li
							a(href="") Alpha
						li
							a(href="") Mini
						li
							a(href="") Opti
						li
							a(href="") Midi
						li
							a(href="") Maxi
						li
							a(href="") Omega
						li
							a(href="") Гостевой дом
						li
							a(href="") Баня
						li
							a(href="") Гараж

			.footer__legal
				.footer__data
					.footer__logo
						img(src="./static/img/logo.svg", alt="Logo")
					span Свидетельство о госрегистрации компании:
					span.mt3x Серия 50 номер 012121201 от 24 марта 2011 г.
					span ОГРН 311500408300056
				.footer__policy
					a.mt-auto(href="/" target="_blank") Политика конфиденциальности
					
					span.mt3x 2011–2020 © Все права защищены