section.section._dark._showroom
	.container._fluid._clean
		.section__half._map._img
		.section__half
			.section__half-inner
				h2.section__title Главный выставочный дом в Москве
				p Район Мега Белая Дача.
				p Комплекс «Малоэтажная страна»
				p Дзержинское ш., 7/7, Котельники, Московская обл.
				p Ежедневно с 10:00 до 20:00