section.section._projects
	.container._fluid
		.projects
			h2.section__title.mt8x Проекты и цены
			.row.projects__list.row-m24
				include ../includes/preview
				include ../includes/preview
				include ../includes/preview
				include ../includes/preview