section.section._socials._light._stretch
	.container._fluid._clean
		.row
			.col-4
				.flex._vertical._center.social._yt
					.social__icon
						+icon('youtube-play')
					.social__amount 145000
					.social__name Youtube
			.col-4
				.flex._vertical._center.social._in
					.social__icon
						+icon('instagram')
					.social__amount 275000
					.social__name Instagram
			.col-4
				.flex._vertical._center.social._vk
					.social__icon
						+icon('vk')
					.social__amount 120064
					.social__name VK