section.section._dark._showroom
	.container._fluid._clean
		.section__half._map._img
			iframe(
				src="https://yandex.ru/map-widget/v1/?um=constructor%3A85260d56313e3df5573e62bd334f4c6e6f4496982a1b29b944a6a46ac2074a31&amp;source=constructor"
				frameborder="0"
			)
		.section__half
			.section__half-inner
				h2.section__title Главный выставочный дом в Москве
				p Район Мега Белая Дача.
				p Комплекс «Малоэтажная страна»
				p Дзержинское ш., 7/7, Котельники, Московская обл.
				p Ежедневно с 10:00 до 20:00