section.section._first-section._dark._lg
	.container.flex._vertical
		h1.h1 Фахверк Домогацкого
		h3.h3.mt5x Сверхтеплые, недорогие, экологичные дома заводского производства
		
		.flex._center.mt-auto
			.props
				.props__item._title One 65
				.props__item
					.props__value 3
					.props__desc спальни
				.props__item
					.props__value 341
					.props__desc кв.м.
				.props__item
					.props__value 2
					.props__desc 2 этажа