section.section._socials._light._stretch
	.container._fluid._clean
		.row.row-g0
			.col-4._t-12._m-12.social._yt
				a.flex._vertical._center.social__inner(href="#")
					.social__icon
						+icon('youtube-play')
					.social__amount 145000
					.social__name Youtube
			.col-4._t-12._m-12.social._in
				a.flex._vertical._center.social__inner(href="#")
					.social__icon
						+icon('instagram')
					.social__amount 275000
					.social__name Instagram
			.col-4._t-12._m-12.social._vk
				a.flex._vertical._center.social__inner(href="#")
					.social__icon
						+icon('vk')
					.social__amount 120064
					.social__name VK