section.section._lg._benefits#benefits
	.container
		.row
			.col-4._t-8._left-t-2._m-12.benefit
				.benefit__img.img-cover
					img(src="", alt="")
				h5.h5 Лучшее соотношение цена/качество
				p.benefit__desc Энергоэффективность — благодаря использованию энергоэффективных материалов вы будете экономить значительные деньги на отоплении. Дом можно отапливать даже электричеством. Надежность — Дома по технологии Фахверк в Северной Европе эксплуатируются по 300–500 лет и в них все еще живут люди. Гарантия на наши дома 25 лет.
			.col-4._t-8._left-t-2._m-12.benefit
				.benefit__img.img-cover
					img(src="", alt="")
				h5.h5 Экологически чистые материалы
				p.benefit__desc Все материалы которые используются для строительства и отделки наших домов проверяем при помощи газового анализатора. Не допускаем использование вредных и ядовитых материалов.
			.col-4._t-8._left-t-2._m-12.benefit
				.benefit__img.img-cover
					img(src="", alt="")
				h5.h5 Cерийное заводское производство
				p.benefit__desc За счет заводского производства и использования только серийных проектов мы добились самой быстрой скорости строительства и, соответственно, лучшей цены. Благодаря тому, что все наши проекты являются типовыми, каждый проект максимально продуман и оптимизирован. Все проекты имеют полный пакет технической документации и теплотехнические расчеты.
			.col-4._left-4
				.flex._center.mt8x.mb10x
					button.button._primary.section__action(type="button") Подробнее