section.section._new-house._lg
	.container._fluid._clean
		.section__half._slider
			.new-project-slider.swiper-container
				.swiper-wrapper
					.swiper-slide
						include ./../../includes/new-project
					.swiper-slide
						include ./../../includes/new-project
					.swiper-slide
						include ./../../includes/new-project
				include ./../../includes/slider-nav
		.section__half
			.section__half-inner
				h2.section__title Новый дом — ONE 62
				.props._left.mb9x
					.props__item
						.props__value 3
						.props__desc спальни
					.props__item
						.props__value 341
						.props__desc кв.м.
					.props__item
						.props__value 2
						.props__desc 2 этажа
				p.section__desc Даже среди специалистов мало кто верил, что можно сделать малоэтажный дом с классом энергоэффективности, А++ (максимальный класс по СП 50.13330.2012 Тепловая защита зданий).
				button.button._outline.section__action(type="button") Подробнее