section.section._dark._lg.creator-section#creator
	.container._fluid._clean
		.creator
			h2.section__title Основатель<br>— Сергей Домогацкий
			ul.mt9x._dash._right
				li Известный писатель, автор 6-ти книг (3 из которых стали бестселлерами);
				li Предприниматель с 17-летним стажем;
				li Блогер. Совокупное число подписчиков более 500 000.