section.section._dark._lg._revert#creator
	.container._fluid._clean
		.section__half
			.section__half-inner
				.section__title Сергей Домогацкий
				
				ul._dash
					li Известный писатель, автор 6-ти книг (3&nbsp;из&nbsp;которых стали бестселлерами);
					li Предприниматель с&nbsp;17-летним стажем;
					li Блогер. Совокупное число подписчиков более 500 000.

		.section__half._img._top
			img(src="./static/img/creator.jpg")