section.section._lg#tech
	.container._fluid._clean
		.section__half._img
			img(src="./static/img/bg-1.jpg")
		.section__half
			.section__half-inner
				h2.section__title Технология строительства
				p.section__desc По результатам теплорасчетов дом Берген-Опти в комплектации А++ имеет расход на отопление электричеством 22000 р. в год (при отоплении напольными конвекторами).
				p.section__desc Даже среди специалистов мало кто верил, что можно сделать малоэтажный дом с классом энергоэффективности, А++ (максимальный класс по СП 50.13330.2012 Тепловая защита зданий).

				button.button._primary.section__action(type="button") Подробнее

section.section._lg#constructive
	.container._fluid._clean._revert
		.section__half
			.section__half-inner
				h2.section__title Конструктив
				p.section__desc Качественный клееный брус с обработкой на немецкой производственной линии Хендеггер К2.

				button.button._primary.section__action(type="button") Подробнее
		.section__half._img
			img(src="./static/img/bg-2 (1).jpg")

section.section._lg#innova
	.container._fluid._clean
		.section__half._img
			img(src="./static/img/PtMdlb5L3I4.jpg")

		.section__half
			.section__half-inner
				h2.section__title Инновационные стеклопакеты
				p.section__desc Все наши дома имеют сверхтеплые стеклопакеты. Эти стеклопакеты экономят энергию и практически не выпускают тепло зимой.

				button.button._primary.section__action(type="button") Подробнее

section.section._dark#comso
	.container._fluid._clean
		.section__half._img
			img(src="./static/img/bg-4.jpg")
		.section__half
			.section__half-inner
				h2.section__title Космический утеплитель
				p.section__desc Несмотря на большие площади остекления, наши домокомплекты в 4 раза теплее кирпичных домов. Это возможно благодаря современным строительным материалам, лучшему в мире утеплителю PIR и специальным теплым стеклопакетам.

				button.button._white.section__action(type="button") Подробнее
