section.section._review._alt._dark(style="background-image: url('./assets/img/review-2.jpg')")
	.container._fluid._clean
		.review__content
			h2.section__title «Именно то, что я искал»
			p.section__desc Я очень доволен нашим сотрудничеством. Дом получился намного лучше, чем я мог себе представить. Очень скоро обращусь еще за одним для родителей.
			p.section__desc — Евгений Иванов

	.backdrop._dark