section.section._slider._lg
	.container._fluid._clean
		.swiper-container.fullpage-slider
			.swiper-wrapper
				.swiper-slide
					.flex._center Slide 1
				.swiper-slide
					.flex._center Slide 2
				.swiper-slide
					.flex._center Slide 3
			include ./../../includes/slider-nav