section.section._warm-house
	.container
		.warm-house.row
			.col-8._left-d-2._t-12._m-12
				h2.section__title Сверхтеплые Дома
				p.mt5x.cl-light.fz-lg Объединив энергоэффективные стеклопакеты, качественный клееный брус и лучший в мире утеплитель мы добились самого высокого уровня энергоэффективности
				.video.mt6x.mb15x
					iframe(width="560" height="315", src="https://www.youtube.com/embed/bebuiaSKtU4", frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				.flex._center
					button.button._primary.section__action(type="button") Подробнее