section.section._slider._lg#gallery
	.container._fluid._clean
		.swiper-container.fullpage-slider
			.swiper-wrapper
				.swiper-slide
					.fullpage-slide
						img(src="./static/img/6jyxOTJhVX0.jpg")
				.swiper-slide
					.fullpage-slide
						img(src="./static/img/img-4.jpg")
				.swiper-slide
					.fullpage-slide
						img(src="./static/img/6jyxOTJhVX0.jpg")
			include ./../../includes/slider-nav