section.section._reviews._light._lg
	.container._fluid._clean
		.reviews
			h2.section__title Отзывы
			.swiper-container.reviews-slider
				.swiper-wrapper
					.swiper-slide
						include ./../../includes/review
					.swiper-slide
						include ./../../includes/review
					.swiper-slide
						include ./../../includes/review
					.swiper-slide
						include ./../../includes/review
					.swiper-slide
						include ./../../includes/review
					.swiper-slide
						include ./../../includes/review
				include ./../../includes/slider-nav