section.section._first-section._dark._lg
	.container._fluid._clean
		.swiper-container.first-screen-slider
			.swiper-wrapper
				.swiper-slide
					.first-screen-slide(style="background-image: url(./static/img/bg-2.jpg)")
						h1.h1 Фахверк Домогацкого
						h3.h3.mt5x Сверхтеплые, недорогие, экологичные дома заводского производства
						
						.first-screen-props
							.props._light._lg
								.props__item._title One 65
								.props__item
									.props__value 3
									.props__desc спальни
								.props__item
									.props__value 341
									.props__desc кв.м.
								.props__item
									.props__value 2
									.props__desc 2 этажа
				.swiper-slide
					.first-screen-slide(style="background-image: url(./static/img/bg-2.jpg)")
						h1.h1 Не фахверк Домогацкого
						h3.h3.mt5x Сверхтеплые, недорогие, экологичные дома заводского производства
						
						.first-screen-props
							.props._light._lg
								.props__item._title NoOne 365
								.props__item
									.props__value 3
									.props__desc спальни
								.props__item
									.props__value 341
									.props__desc кв.м.
								.props__item
									.props__value 2
									.props__desc 2 этажа
			include ./../../includes/slider-nav
			include ./../../includes/slider-dots