section.section._lg._index-desc#tech
	.container._fluid._clean
		.section__half._img
			img._anim(src="./static/img/bg-1.jpg")
		.section__half
			.section__half-inner
				h2.section__title Технология строительства
				p.section__desc По&nbsp;результатам теплорасчетов дом Берген-Опти в&nbsp;комплектации А++ имеет расход на&nbsp;отопление электричеством 22000 р. в&nbsp;год (при отоплении напольными конвекторами).
				p.section__desc Даже среди специалистов мало кто верил, что можно сделать малоэтажный дом с&nbsp;классом энергоэффективности, А++ (максимальный класс по&nbsp;СП&nbsp;50.13330.2012&nbsp;Тепловая защита зданий).

				button.button._primary.section__action(type="button") Подробнее

section.section._lg._index-desc#constructive
	.container._fluid._clean._revert
		.section__half
			.section__half-inner
				h2.section__title Конструктив
				p.section__desc Качественный клееный брус с&nbsp;обработкой на&nbsp;немецкой производственной линии Хендеггер К2.

				button.button._primary.section__action(type="button") Подробнее
		.section__half._img
			img(src="./static/img/bg-2 (1).jpg")

section.section._lg._index-desc#innova
	.container._fluid._clean
		.section__half._img
			img(src="./static/img/PtMdlb5L3I4.jpg")

		.section__half
			.section__half-inner
				h2.section__title Инновационные стеклопакеты
				p.section__desc Все наши дома оснащены сверхтеплымы стеклопакетами. Эти стеклопакеты экономят энергию и&nbsp;практически не&nbsp;выпускают тепло зимой.

				button.button._primary.section__action(type="button") Подробнее

section.section._dark._index-desc#comso
	.container._fluid._clean
		.section__half._img
			img(src="./static/img/bg-4.jpg")
		.section__half
			.section__half-inner
				h2.section__title Космический утеплитель
				p.section__desc Несмотря на большие площади остекления, наши домокомплекты в 4 раза теплее кирпичных домов. Это возможно благодаря современным строительным материалам, лучшему в мире утеплителю PIR и специальным теплым стеклопакетам.

				button.button._white.section__action(type="button") Подробнее
