section.section._lg._showrooms#shows
	.container._fluid._clean
		.showrooms
			h2.section__title.mt8x Выставочные дома
			.swiper-container.showrooms-slider
				.swiper-wrapper
					.swiper-slide
						include ./../../includes/showroom
					.swiper-slide
						include ./../../includes/showroom
					.swiper-slide
						include ./../../includes/showroom
					.swiper-slide
						include ./../../includes/showroom
					.swiper-slide
						include ./../../includes/showroom
					.swiper-slide
						include ./../../includes/showroom
				include ./../../includes/slider-nav
