section.section._dark._b2b
	.container._fluid._clean
		.section__half._img
		.section__half
			.section__half-inner
				h2.section__title Поселки, базы отдыха, санатории
				p.section__desc Наши дома идеально подходят для продажи или сдачи в аренду. За счет своего потрясающего внешнего вида они имеют высокую ликвидность и ваши инвестиции окупятся очень быстро.

				button.button._light.section__action(type="button") Подробнее