section.section._review._light
	.container._fluid._clean
		.section__half
			.section__half-inner
				h2.section__title «Именно то, что я искал»
				p.section__desc Я очень доволен нашим сотрудничеством. Дом получился намного лучше, чем я мог себе представить. Очень скоро обращусь еще за одним для родителей.
				p.section__desc.mt5x — Евгений Иванов
		.section__half._img
			img(src="./static/img/bg.jpg")