header.header.index-header
	.header__inner
		.header__left
			a.header__logo(href="/")
				img(src="./static/img/logo.svg", alt="Logo")
			span.header__slogan Дома заводского производства

		include ./main-nav

		.header__right
			a.header__phone(href="tel:+78002223751") +78002223751
			button.button.header__menu-button._clean(type="button")
				i.fa.fa-bars(aria-hidden="true")

.page-backdrop