header.header.index-header
	.header__inner
		a.header__logo(href="/")
			img(src="", alt="Logo")
		span.header__slogan Дома заводского производства
		nav.header__nav
			ul
				li
					a(href="/") Alpha
				li
					a(href="/") Mini
				li
					a(href="/") Opti
				li
					a(href="/") Midi
				li
					a(href="/") Maxi
				li
					a(href="/") Omega
				li
					a(href="/") Гостевой дом
				li
					a(href="/") Баня
				li
					a(href="/") Гараж
		a.header__phone(href="tel:+78002223751") +78002223751
		button.header__menu-button
			i.fa.fa-bars(aria-hidden="true")