footer.footer
	.container
		.flex._top
			div
				div Разделы сайта
				ul
					li Главная
					li Технология строительства
					li Космический утеплитель
					li Дома и цены
					li 3D тур
					li Отзывы
					li Сверхтеплые дома
					li Преимущества
					li Галерея домов
					li Инновационные стеклопакеты
					li Основатель
					li Выставочные дома
			div
				div Категории домов
				ul
					li Alpha
					li Mini
					li Opti
					li Midi
					li Maxi
					li Omega
					li Гостевой дом
					li Баня
					li Гараж