footer.footer
	.container
		.footer__inner
			.footer__nav
				.footer__list
					span.footer__title Разделы сайта
					ul.footer__list-inner._sections
						li
							a(href="") Главная
						li
							a(href="") Технология строительства
						li
							a(href="") Космический утеплитель
						li
							a(href="") Дома и цены
						li
							a(href="") 3D тур
						li
							a(href="") Отзывы
						li
							a(href="") Сверхтеплые дома
						li
							a(href="") Преимущества
						li
							a(href="") Галерея домов
						li
							a(href="") Инновационные стеклопакеты
						li
							a(href="") Основатель
						li
							a(href="") Выставочные дома
				.footer__list
					span.footer__title Категории домов
					ul.footer__list-inner._categories
						li
							a(href="") Alpha
						li
							a(href="") Mini
						li
							a(href="") Opti
						li
							a(href="") Midi
						li
							a(href="") Maxi
						li
							a(href="") Omega
						li
							a(href="") Гостевой дом
						li
							a(href="") Баня
						li
							a(href="") Гараж

			.footer__legal
				.footer__data
					span Свидетельство о госрегистрации компании:
					span.mt3x Серия 50 номер 012121201 от 24 марта 2011 г.
					span ОГРН 311500408300056
				.footer__policy
					a(href="/" target="_blank") Политика конфиденциальности
					
					span.mt-auto 2011–2019 © Все права защищены