nav.header__nav
	ul
		li
			a(href="alpha.html") Alpha
		li.cat
			span Mini
			ul.inner
				li
					a(href="/") Mini Up
				li
					a(href="/") Mini Up Attic
		li
			a(href="alpha.html") Maxi
		li
			a(href="alpha.html") Omega
