nav.header__nav
	ul
		li
			a(href="alpha.html") Alpha
		li
			a(href="/") Mini
			ul.inner
				li
					a(href="/") Mini Up
				li
					a(href="/") Mini Up Attic
		li
			a(href="alpha.html") Alpha
		li
			a(href="alpha.html") Alpha
