nav.header__nav
	ul
		li
			a(href="alpha.html") Alpha
		li
			a(href="/") Mini
		li
			a(href="/") Opti
		li
			a(href="/") Midi
		li
			a(href="/") Maxi
		li
			a(href="/") Omega
		li
			a(href="/") Гостевой дом
		li
			a(href="/") Баня
		li
			a(href="/") Гараж