.col-4._t-l-6._t-s-8._left-t-s-2._m-12
	.preview
		.preview__top
			.preview__name Omega
			.preview__price ₽ 5000000
			.preview__desc Загородный дом для молодой семьи
		.preview__img
			img(src="./assets/img/G7vAHqY-Joc.jpg", alt="")
		.preview__props.props
			.props__item
				.props__value 3
				.props__desc спальни
			.props__item
				.props__value 341
				.props__desc кв.м.
			.props__item
				.props__value 2
				.props__desc 2 этажа
		.preview__about
			.preview__about-left
				span.preview__about-value 300 кв.м
				span.preview__about-desc Общая площадь
				span.preview__about-value 380 кв.м
				span.preview__about-desc с террасой
				span.preview__about-value 240 кв.м
				span.preview__about-desc с закрытым вторым светом
			.preview__about-right
				h5.h5 Опции:
				ul._check._light.fz-sm.mt2x
					li Модульный, и еще тут длинный текст для теста
					li Теплый
					li Твой
		.preview__more
			button.button._outline(type="button") Подробнее