extends ../layouts/page

block vars
	- var pageTitle = 'Index page'

block content
	include ../sections/project/project-first-section
	include ../sections/project/project-specifications
	include ../sections/project/project-plans
	include ../sections/project/project-gallery
	include ../sections/project/project-price
	include ../sections/project/project-interior
	include ../sections/project/project-3d-tour
	include ../sections/project/project-form

	//- Footer
	include ../includes/index/index-footer
