extends ../layouts/page

block vars
	- var pageTitle = 'Index page'

block content
	include ../sections/index-first-section
	include ../sections/index-socials-section
	include ../sections/index-new-house-section
	include ../sections/index-review1-section
	include ../sections/index-benefits-section
	include ../sections/index-fullslider-section
	include ../sections/index-desc-sections
	include ../sections/index-warm-house-section
	include ../sections/index-creator-section
	include ../sections/index-b2b-section
	include ../sections/index-projects-section
	include ../sections/index-previews-section
	include ../sections/index-review2-section
	include ../sections/index-showrooms-section
	include ../sections/index-showroom-section

	//- Footer
	include ../includes/index-footer
