extends ../layouts/page

block vars
	- var pageTitle = 'Index page'

block content
	section.section.first-section._dark._lg
		.container.flex._vertical
			h1 Фахверк Домогацкого
			h3 Сверхтеплые, недорогие, экологичные дома заводского производства
			
			.flex._center
				div One 65
				div 2 этажа
				div 341 кв.м
				div 21 окно

	section.section.socials._light._stretch
		.container._fluid
			.row
				.col-4
					.flex._vertical._center.social
						.social__icon 1
						.social__amount 145000
						.social__name Youtube
				.col-4
					.flex._vertical._center.social
						.social__icon 2
						.social__amount 275000
						.social__name Instagram
				.col-4
					.flex._vertical._center.social
						.social__icon 3
						.social__amount 120064
						.social__name VK
